* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   --wd-base: 34rem;
   --fs-base: 1.4rem;
}

.information {
   background: linear-gradient(180deg, rgba(0,18,50,1) 0%, rgba(14,51,134,1) 68%, rgba(21,96,189,1) 100%);
   font-family: 'Playfair Display', serif;

}

.hide {
   display: none;
}

.main {
   padding: 2rem 0 2rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.name {
   height: 2rem;
   width: 6.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.3rem;
   border-radius: 1.7rem;   
   background: linear-gradient(90deg, #8257E5 29.77%, #FF876E 80.26%, #FFD072 119.8%);
}

.name img {
   height: 1rem;
}

.profession {
   height: 2rem;
   width: 16rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.3rem;
   border-radius: 1.7rem;
   margin: 0.5rem 0 2rem;
   
   background: linear-gradient(90deg, #8257E5 29.77%, #FF876E 80.26%, #FFD072 119.8%);
   position: relative;
}

.profession img {
   height: 1.1rem;
}

.profession img:nth-child(4) {
   margin-right: 0.5rem;
}

.imgKaua img {
   width: 16rem;
   height: 16rem;
   border-radius: 160rem;
   border: 4px solid white;
   transition: all 0.8s;
}

.imgKaua img:hover {
   filter: blur(1px);
}

.imgKaua {
   width: 16rem;
   height: 16rem;
   background: none;
   border: none;
   cursor: pointer;

}

.modal {
   width: 35rem;
   height: 22rem;
   position: absolute;
   top: 8rem;
   z-index: 1;
   
}

.presentationVideo {
   display: flex;
   justify-content: center;
   align-items: end;
   width: 35rem;
   height: 22rem;
   padding: 0.5rem;

   background: white;
   border-radius: 1rem;
   position: absolute;
}

.presentationVideo button img {
   width: 1rem;
   cursor: pointer;
   transition: all 0.8s;
}
.presentationVideo button img:hover {
   transform: scale(1.2);
}

.presentationVideo button {
   background: none;
   border: none;
   position: absolute;
   right: 0.5rem;
   top: 0.5rem;
}

.presentationVideo iframe {
   width: 34rem;
   height: 19.123rem;
   border-radius: 1rem;
}

.AlertClickInMe img {
   width: 1rem;
   height: 1rem;
}

.AlertClickInMe {
   display: flex;
   justify-content: center;
   align-items: center;
   width: var(--wd-base);

   font-weight: 700;
   font-size: var(--fs-base);
   color: white;
   gap: 0.5rem;
   margin: 1rem 0 2rem;

   padding: 0.5rem;
   border-radius: 5px;
}

.AlertClickInMe,
.AlertClickInMe img {
   animation: neon 3s alternate infinite ease-in-out;

}

@keyframes neon {
   from {
      filter: drop-shadow(0 0 0 white);
   }
   to {
      filter: drop-shadow(0 0 5px white);
   }
}

.links img {
   width: 2.2rem;
   cursor: pointer;
   transition: all 0.8s;
}

.links img:hover {
  transform: scale(1.2);
}

.links {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   padding: 0.5rem;
   width: 20rem;

   border: 1px solid #F5F5F5;
   border-radius: 2rem;

}

.whoAmI {
   width: var(--wd-base);
   background: white;
   padding: 1.5rem;
   font-size: var(--fs-base);
   
   border-radius: 0.5rem;

   margin: 2rem 0 3rem;
}

.textTech {
   width: var(--wd-base);
   font-size: var(--fs-base);
   font-weight: 700;
   padding: 1rem 1rem 0.5rem;

   border-radius: 2rem 2rem 0 0;
   background: white;
}

.technologies img {
   width: 2.7rem;
   transition: all 0.8s;
}
.technologies img:hover {
   transform: scale(1.2);
}

.technologies {
   width: var(--wd-base);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;

   border: 1px solid white;
   padding: 0.8rem;
   border-radius: 0 0 2rem 2rem;
}





.projects {
   background: #F5F5F5;
   font-family: 'Playfair Display', serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 3rem 0 3rem;
   gap: 8rem;
}

.titleProjects {
   border: 1px solid black;
   border-radius: 1rem;

   width: var(--wd-base);
   padding: 1rem;
   text-align: center;

}

.project {
   display: grid;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 1.6rem;

}

.project h1 {
   text-align: left;
   width: var(--wd-base);
}

.imgProject {
   width: var(--wd-base);
   border-radius: 1rem;

}

.textProject {
   width: var(--wd-base);
   font-size: var(--fs-base);
}

.techProject {
   width: var(--wd-base);
}

.techProject p {
   background: black;
   color: white;
   font-size: var(--fs-base);
   font-weight: 700;
   border-radius: 1rem 1rem 0 0;
   padding: 1rem;
}

.imgTechProject  {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3rem;
   border: 1px solid black;
   border-radius: 0 0 1rem 1rem;
   padding: 1rem;
}

.imgTechProject img:hover {
   transform: scale(1.2);
   transition: all 0.8s;
}

.buttons {
   display: flex;
   align-items: center;
   gap: 3rem;
   width: var(--wd-base);

}

.buttons a {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   padding: 0.5rem 1rem 0.5rem 1rem;
   
   
   font-size: var(--fs-base);
   color: black;
   text-decoration: none;
   border: 1px solid black;
   border-radius: 1rem;

   transition: all 0.8s;
}

.buttons a:hover {
   background: black;
   color: white;
}

.buttons svg {
   width: 2.2rem;
}

.buttons a:hover path  {
   fill: white;
   transition: all 0.8s;

}

.contact {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.contact h2 {
   border: 1px solid black;
   padding: 1rem 10rem;
   border-radius: 1rem;
   margin-bottom: 2rem;
   font-size: var(--fs-base);
}

.contact form {
   display: flex;
   align-items: left;
   justify-content: left;
   flex-direction: column;
   width: var(--wd-base);
   font-size: var(--fs-base);
}

form label {
   margin-bottom: .5rem;
   font-size: var(--fs-base);
}

form input {
   height: 3rem;
   border-radius: .5rem;
   padding: 0.5rem;
   border: 1px solid black;
   margin-bottom: 1rem;
}

form input:focus {
   border: 1px solid rgba(21,96,189,1);
}


form textarea {
   height: 10rem;
   border-radius: .5rem;
   padding: 0.5rem;
   border: 1px solid black;
   margin-bottom: 1rem;
}

form textarea:focus {
   border: 1px solid rgba(21,96,189,1);
   transition: all .8s;

}

form button {
   border-radius: .5rem;
   border: 1px solid black;
   background: none;
   width: 15rem;
   padding: 1rem;
   font-family: 'Playfair Display', serif;
   font-weight: 700;
   font-size: var(--fs-base);
   cursor: pointer;
}

form button:hover {
   background: black;
   color: white;
   transition: all .8s;
}





@media (min-width: 450px) {
:root {
   --wd-base: 43rem;
   --fs-base: 1.8rem;
}

.name {
   height: 3rem;
   width: 12.2rem;
}

.name img {
   height: 2rem;
}

.profession {
   height: 3rem;
   width: 24rem;
}

.profession img {
   height: 2rem;
}

.technologies img {
   width: 4rem;
}

.imgKaua {
   width: 20rem;
   height: 20rem;
}

.imgKaua img {
   width: 20rem;
   height: 20rem;
}

.links img {
   width: 3rem;
}

.links {
   width: 25rem;
}


.project h1 {
   font-size: 2.5rem;
}

.titleProjects {
   font-size: 3rem;
}

.buttons {
   justify-content: space-between;
}

.buttons a {
   width: 20rem;
}

.buttons svg {
   width: 2.3rem;
}


.modal {
   width: 44rem;
   height: 26rem;
   top: 11rem;
   
}

.presentationVideo {
   width: 44rem;
   height: 26rem;
}

.presentationVideo iframe {
   width: 42rem;
   height: 23.623rem;
}


}

@media (min-width: 750px) {
:root {
   --wd-base: 70rem;
   --fs-base: 2rem;
}

.name {
   height: 3rem;
   width: 12.2rem;
   margin-bottom: .6rem;
}

.name img {
   height: 2rem;
}

.profession {
   height: 3rem;
   width: 24rem;
}

.profession img {
   height: 2rem;
}

.technologies img {
   width: 6rem;
}

.technologies {
   gap: 3rem;

}

.imgKaua {
   width: 25rem;
   height: 25rem;
}

.imgKaua img {
   width: 25rem;
   height: 25rem;
}

.links img {
   width: 4rem;
}

.links {
   width: 30rem;
}


.project h1 {
   font-size: 3rem;
}

.titleProjects {
   font-size: 3rem;
}

.buttons {
   justify-content: space-between;
}

.buttons a {
   width: 40rem;
}

.buttons svg {
   width: 3rem;
}


.modal {
   width: 60rem;
   height: 30rem;
}

.presentationVideo {
   width: 60rem;
   height: 32rem;
   display: flex;
   justify-content: center;
}

.presentationVideo iframe {
   width: 53rem;
   height: 30rem;
}


}


@media (min-width: 1024px) {
  
body {
   display: flex;
}

.information {
   background: linear-gradient(90deg, rgba(0,18,50,1) 0%, rgba(14,51,134,1) 71%, rgba(21,96,189,1) 100%);

   width: 50%;
   height: 100vh;
   position: relative;
}


.name img {
   width: 1.2rem;
}

.name {
   width: 8rem;
   height: 1.5rem;
}

.profession img{
   width: 1.2rem;
}

.profession {
   width: 17rem;
   height: 1.7rem;
   margin: 0;
}

.imgKaua img {
   width: 14rem;
   height: 14rem;
}

.imgKaua {
   margin-top: 2rem;
   width: 14rem;
   height: 14rem;
}

.AlertClickInMe {
   font-size: 1rem;
   width: 48rem;
}

.links img {
   width: 1.5rem;
}

.links {
   width: 16rem;
   margin: 0;
   position: absolute;
   top: 3rem;
   right: -1rem;
}

.whoAmI {
   margin: 0 0 2rem 0;
   width: 48rem;
   font-size: 1.2rem;
}

.technologies img {
   width: 2.5rem;
}

.technologies {
   width: 48rem;
}

.textTech {
   font-size: 1.2rem;
   width: 48rem;
   height: 2rem;
   padding: 0.2rem 0.5rem 0 1rem;
}



.projects {
   width: 50%;
   gap: 0;

   height: 100vh;

   display: grid;
   overflow-y: scroll;
}

.project {
   width: 48rem;
}

.titleProjects {
   font-size: 2.5rem;
   padding: 0.5rem;
   width: 48rem;
   margin-bottom: 2rem;
}

.project h1 {
   font-size: 2rem;
   width: 48rem;
}

.imgProject {
   width: 48rem;
}

.textProject {
   width: 48rem;
   font-size: 1.4rem;
}

.techProject {
   width: 48rem;
}

.techProject p {
   font-size: 1.4rem;
   padding: 0.5rem;
}

.imgTechProject  {
   width: 48rem;
}

.imgTechProject img {
   width: 3rem
}

.imgTechProject img:hover {
   transform: scale(1.2);
   transition: all 0.8s;
}

.buttons {
   width: 48rem;
   padding: 0.5rem;
   margin-bottom: 5rem;
}

.buttons a {
   font-size: 1.4rem;
}

.buttons a:hover {
   background: black;
   color: white;
}

.buttons svg {
   width: 1.4rem;
}

.modal {
   width: 41rem;
   height: 25rem;
   top: 2rem;
}

.presentationVideo {
   width: 41rem;
   height: 25rem;
}

.presentationVideo iframe {
   width: 40rem;
   height: 22.5rem;
}



.contact form {
   width: 48rem;
}

.contact label {
   font-size: 1.6rem;
}

.contact input {
   font-size: 1.4rem;
}

.contact button {
   font-size: 1.6rem;
}

}

@media (min-width: 1500px) {

   .name img {
      width: 1.8rem;
   }
   
   .name {
      width: 10rem;
      height: 2.5rem;
   }
   
   .profession img{
      width: 1.8rem;
   }
   
   .profession {
      width: 21rem;
      height: 2.5rem;
      margin-bottom: 2rem;
   }
   
   .imgKaua img {
      width: 18rem;
      height: 18rem;
   }
   
   .imgKaua {
      width: 18rem;
      height: 18rem;
   }
   
   .AlertClickInMe {
      margin-bottom: 2rem;
      font-size: 1.4rem;
      width: 48rem;
      gap: 1rem;
   }
   
   .links img {
      width: 2rem;
   }
   
   .links {
      width: 19rem;
      top: 3rem;
      right: -1.5rem;
   }
   
   .whoAmI {
      margin: 0 0 2rem 0;
      width: 72rem;
      font-size: 1.5rem;
   }
   
   .technologies img {
      width: 3rem;
   }
   
   .technologies {
      width: 58rem;
   }
   
   .textTech {
      font-size: 1.6rem;
      width: 58rem;
      height: 2.5rem;
   }
   
   
   
   .project {
      width: 58rem;
   }
   
   .titleProjects {
      font-size: 2.5rem;
      width: 58rem;
   }
   
   .project h1 {
      font-size: 2rem;
      width: 58rem;
   }
   
   .imgProject {
      width: 58rem;
   }
   
   .textProject {
      width: 58rem;
      font-size: 1.6rem;
   }
   
   .techProject {
      width: 58rem;
   }
   
   .techProject p {
      font-size: 1.6rem;
   }
   
   .imgTechProject  {
      width: 58rem;
   }
   
   
   .buttons {
      width: 58rem;
   }
   
   .buttons a {
      font-size: 1.6rem;
   }
   
   
   .buttons svg {
      width: 1.6rem;
   }
   
   .modal {
      width: 50rem;
      height: 25rem;
      top: 8rem;
   }
   
   .presentationVideo {
      width: 50rem;
      height: 27rem;
   }
   
   .presentationVideo iframe {
      width: 44.4rem;
      height: 25rem;
   }
   
   
   
   .contact form {
      width: 48rem;
   }
   
   .contact label {
      font-size: 1.6rem;
   }
   
   .contact input {
      font-size: 1.4rem;
   }
   
   .contact button {
      font-size: 1.6rem;
   }

}
