* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;
}

body {
   background: linear-gradient(180deg, rgba(0,18,50,1) 0%, rgba(14,51,134,1) 68%, rgba(21,96,189,1) 100%);
   font-family: 'Playfair Display', serif;

}

.hide {
   display: none;
}

.main {
   margin-top: 3rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.name {
   height: 2rem;
   width: 6.2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.3rem;
   border-radius: 1.7rem;   
   background: linear-gradient(90deg, #8257E5 29.77%, #FF876E 80.26%, #FFD072 119.8%);
}

.name img {
   height: 1rem;
}

.profession {
   height: 2rem;
   width: 16rem;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.3rem;
   border-radius: 1.7rem;
   margin: 0.5rem 0 2rem;
   
   background: linear-gradient(90deg, #8257E5 29.77%, #FF876E 80.26%, #FFD072 119.8%);
   position: relative;
}

.profession img {
   height: 1.1rem;
}

.profession img:nth-child(4) {
   margin-right: 0.5rem;
}

.imgKaua img {
   width: 16rem;
   height: 16rem;
   border-radius: 160rem;
   border: 4px solid white;
}

.imgKaua {
   width: 16.2rem;
   height: 16.6rem;
   background: none;
   border: none;
}

.AlertClickInMe img {
   width: 1rem;
   height: 1rem;
}

.AlertClickInMe {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 8rem;

   font-weight: 700;
   font-size: 0.8rem;
   color: white;
   gap: 0.5rem;

   background: #0039a6;
   padding: 0.5rem;
   border-radius: 5px;
   animation: neon 3s alternate infinite ease-in-out;

}

@keyframes neon {
   from {
      filter: drop-shadow(0 0 0 white);
   }
   to {
      filter: drop-shadow(0 0 5px white);
   }
}


